<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAWProductos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53254/WcfAWProductos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAWProductos"
                contract="SI.WcfProductos.IAWProductos" name="BasicHttpBinding_IAWProductos" />
        </client>
    </system.serviceModel>
</configuration>